@charset "UTF-8";
:root {
  --color-cyan-600: #4d96a9;
  --color-cyan-300: #8fe3f9;
  --color-purple-600: #855fb1;
  --color-purpple-300: #d9b8ff;
  --color-slate-900: #28283d;
  --color-slate-600: #87879d;
  --color-slate-300: #d1d1df;
  --color-white: #ffffff;
  --font-family: "Red Hat Display", sans-serif;
  --fw-black: 900;
  --fw-medium: 500;
  --heading-font-size-heading-desktop: 64;
  --heading-font-size-mobile: 40;
  --heading-line-height: 1.1;
  --text-font-size-desktop: 18;
  --text-font-size-mobile: 16;
  --letter-spacing: 4px;
  --button-padding-block: 16;
  --button-padding-inline: 40;
  --border-radius: 29;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--font-family);
  font-size: clamp(1rem, 1rem + (18 - 16) * (100vw - 375px) / (1440 - 375), 1.125rem);
  font-weight: var(--fw-medium);
  color: var(--color-slate-600);
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -rem(-1);
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-inline: 2.1875rem;
}
@media screen and (min-width: 767.98px) and (max-width: 1023.98px) {
  .container {
    padding-inline: clamp(2.75rem, 2.75rem + (160 - 44) * (100vw - 768px) / (1024 - 768), 10rem);
  }
}

.header {
  display: flex;
  justify-content: center;
  padding-top: clamp(3rem, 3rem + (80 - 48) * (100vw - 375px) / (1440 - 375), 5rem);
}

.hero {
  padding-block: 4rem 2rem;
  overflow: hidden;
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .hero {
    padding-block-end: 4rem;
  }
}
.hero__image-wrapper--mobile {
  display: flex;
  justify-content: center;
  margin-block-end: clamp(3rem, 3rem + (72 - 48) * (100vw - 375px) / (1440 - 375), 4.5rem);
}
@media screen and (min-width: 1439.98px) {
  .hero__image-wrapper--mobile {
    display: none;
  }
}
.hero__image--mobile {
  width: 105vw;
  flex-shrink: 0;
  max-width: none;
}
.hero__image-wrapper--desktop {
  display: none;
}
@media screen and (min-width: 1439.98px) {
  .hero__image-wrapper--desktop {
    display: block;
    position: relative;
  }
}
.hero__image--desktop-left {
  position: absolute;
  top: 0;
  left: -3.5vw;
}
.hero__image--desktop-right {
  position: absolute;
  top: 3.125rem;
  right: -3.5vw;
}
.hero__info {
  margin-inline: auto;
  max-width: 450px;
}
.hero__title {
  margin-block-end: 1.5rem;
  font-size: clamp(2.5rem, 2.5rem + (64 - 40) * (100vw - 375px) / (1440 - 375), 4rem);
  line-height: var(--heading-line-hight);
  color: var(--color-slate-900);
  font-weight: var(--fw-black);
}
.hero__description {
  margin-block-end: 1.5rem;
}
.hero__buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767.98px) {
  .hero__buttons-container {
    flex-direction: row;
    column-gap: 1.0625rem;
  }
}

.button {
  padding: 1rem 2.5rem;
  border-radius: 1.8125rem;
  border: none;
  font-weight: var(--fw-black);
  cursor: pointer;
}
.button--cyan {
  background-color: var(--color-cyan-600);
  color: var(--color-white);
}
.button--cyan span {
  color: var(--color-cyan-300);
}
.button--purple {
  background-color: var(--color-purple-600);
  color: var(--color-white);
}/*# sourceMappingURL=main.css.map */