@use "../utils/funktions" as *;
@use "../utils/variables" as *;

.visually-hidden {
  position: absolute;
  width: rem(1);
  height: rem(1);
  margin: -rem(-1);
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-inline: rem(32);

  @media screen and (min-width: $tablet-bp) and (max-width: $laptop-bp) {
    padding-inline: fluid(40, 153, 768, 1024);
  }
}

.title {
  font-size: fluid($h2-font-size-mobile, $h2-font-size-desktop);
  line-height: var(--heading-line-height);
  font-weight: var(--fw-black);
}
