:root {
  --color-cyan-600: #4d96a9;
  --color-cyan-300: #8fe3f9;
  --color-purple-600: #855fb1;
  --color-purpple-300: #d9b8ff;
  --color-slate-900: #28283d;
  --color-slate-600: #87879d;
  --color-slate-300: #d1d1df;
  --color-white: #ffffff;

  --fw-black: 900;
  --fw-medium: 500;

  --font-size-large: 64px;
  --font-size-medium: 40px;
  --font-size-small: 18px;
  --font-size-xsmall: 16px;

  --line-height-main: 1.1;

  --letter-spacing: 4px;

  --button-padding: 16px 40px;

  --border-radius: 29px;

  --container-padding-inline: 35px;
}
