:root {
  --color-cyan-600: #4d96a9;
  --color-cyan-300: #8fe3f9;
  --color-purple-600: #855fb1;
  --color-purpple-300: #d9b8ff;
  --color-slate-900: #28283d;
  --color-slate-600: #87879d;
  --color-slate-300: #d1d1df;
  --color-white: #ffffff;

  --font-family: "Red Hat Display", sans-serif;
  --fw-black: 900;
  --fw-medium: 500;

  --heading-font-size-heading-desktop: 64;
  --heading-font-size-mobile: 40;
  --heading-line-height: 1.1;

  --text-font-size-desktop: 18;
  --text-font-size-mobile: 16;

  --letter-spacing: 4;

  --button-padding-block: 16;
  --button-padding-inline: 40;

  --border-radius: 29;

  --container-padding-inline: 35;
}

$mobile-bp: 375px;
$tablet-bp: 768px;
$desktop-bp: 1440px;
