$mobile-bp: 374.98px;
$tablet-bp: 767.98px;
$laptop-bp: 1023.98px;
$desktop-bp: 1439.98px;

// all variables are defined in "px"

$h1-font-size-desktop: 64;
$h1-font-size-mobile: 40;
$h2-font-size-desktop: 40;
$h2-font-size-mobile: 32;
$heading-line-height: 1.1;

$text-font-size-desktop: 18;
$text-font-size-mobile: 16;

$letter-spacing: 4;

$button-padding-block: 16;
$button-padding-inline: 40;

$button-border-radius: 29;
$image-border-radius: 8;

:root {
  --color-cyan-600: #4d96a9;
  --color-cyan-300: #8fe3f9;
  --color-cyan-hover: #71c0d4;
  --color-purple-600: #855fb1;
  --color-purple-300: #d9b8ff;
  --color-purple-hover: #b18bdd;
  --color-slate-900: #28283d;
  --color-slate-600: #87879d;
  --color-slate-300: #d1d1df;
  --color-white: #ffffff;

  --border: 1px solid var(--color-slate-300);
  --button-border-radius: #{$button-border-radius};
  --image-border-radius: #{$image-border-radius};

  --font-family: "Red Hat Display", sans-serif;
  --fw-black: 900;
  --fw-medium: 500;

  --h1-font-size-desktop: #{$h1-font-size-desktop};
  --h1-font-size-mobile: #{$h1-font-size-mobile};
  --h2-font-size-desktop: #{$h2-font-size-desktop};
  --h2-font-size-mobile: #{$h2-font-size-mobile};
  --heading-line-height: #{$heading-line-height};

  --text-font-size-desktop: #{$text-font-size-desktop};
  --text-font-size-mobile: #{$text-font-size-mobile};

  --letter-spacing: #{$letter-spacing}px;

  --button-padding-block: #{$button-padding-block};
  --button-padding-inline: #{$button-padding-inline};

  --outline: 3px solid var(--color-cyan-300);
  --outline-offset: 3px;

  --transition-duration: 300ms;
}
