@use "../utils/funktions" as *;
@use "../utils/variables" as *;

.button {
  padding: rem($button-padding-block) rem($button-padding-inline);
  border-radius: rem($button-border-radius);
  border: none;
  font-weight: var(--fw-black);
  cursor: pointer;
  transition: background-color var(--transition-duration);

  &--cyan {
    background-color: var(--color-cyan-600);
    color: var(--color-white);

    & span {
      color: var(--color-cyan-300);
    }

    &:hover {
      background-color: var(--color-purple-600);
    }
  }

  &--purple {
    background-color: var(--color-purple-600);
    color: var(--color-white);

    & span {
      color: var(--color-purple-300);
    }

    &:hover {
      background-color: var(--color-cyan-600);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    transition-duration: 0.01ms;
  }
}
